<h1>Fill the information for your flight</h1>
<% @flight = Flight.find_by(id: params[:flight_id]) %>
<% @seats = params[:seats].to_i %>
<p>
  From: <%= @flight.departure_airport.code %> | 
  To: <%= @flight.destination_airport.code %> | 
  Flight duration: <%= @flight.flight_duration %> min | 
  Date: <%= @flight.date.to_date %>
</p>

<%= form_with model: @booking do |f| %>
  <h2>Contact and billing information</h2>
  <% flash.each do |type, msg| %>
    <div style="color:red">
      <%= msg %>
    </div>  
    <br>
  <% end %>
  <%= f.label :email, 'Email: ' %>
  <%= f.text_field :email %> |
  <%= f.label :billing, 'Billing: ' %>
  <%= f.number_field :billing %>
  <%= hidden_field_tag('flight_id', params[:flight_id]) %>
  <%= hidden_field_tag('seats', params[:seats]) %>
  <br><br><br>
  <%= f.submit %>
<% end %>

